html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #33658a;
}

@keyframes slideup {
  from {
    margin-top: 10rem;
  }
  to {
    margin-top: 2rem;
  }
}

.app-menu {
  text-align: center;
  margin-top: 10rem;
  background-color: #fff;
  padding-bottom: 0.5rem;
}

.app-menu.sub-page {
  margin-top: 1rem;
}

.app-menu h3 {
  display: inline-block;
}

.app-menu a {
  text-decoration: none;
}

.main-title {
  margin-bottom: 0;
}

.main-title a {
  font-size: 5rem;
  font-weight: 400;
  margin: 0;
  color: #3c3c3c;
  font-family: 'EB Garamond', serif;
}

.main-menu {
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
}

@media (min-width: 32em) {
  .main-menu {
    flex-direction: row;
    justify-content: center;
  }
  
  .main-menu h3:not(:first-child) {
    margin-left: 0.6rem;
  }
}

.main-menu h3 {
  margin: 0;
}

.main-menu h3.active {
  text-decoration: underline;
}

.sub-menu {
  margin-top: 0.5rem;
}

.photography-link > *,
.photography-link {
  color: #33658a;
}

.paintings-link > *,
.paintings-link {
  color: #b98389;
}

.contact-link > *,
.contact-link {
  color: #95a472;
}

.image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-content img {
  max-width: 80vw;
  margin-bottom: 1rem;
}

.text-content {
  padding: 2rem;
  max-width: 30rem;
  margin: 0 auto;
}

.text-content p {

}